.backgroundImage {
    display: block;
    max-width: 100%;
    width: 800px;
    height: 50%;
    margin: 10px auto;
}

.movieDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}


.image img {
    height: 200px;
    width: 200px;
    border-radius: 0;
    object-fit: cover;
}

.directionButton {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(58, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.directionButton:hover {
    background-color: rgb(190, 60, 60);
}