.backgroundImage {
    display: block;
    max-width: 100%;
    width: 800px;
    height: 50%;
    margin: 10px auto;
}

.movieDisplay {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.movie-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image img {
    height: 200px;
    width: 200px;
    border-radius: 0;
    object-fit: cover;
}

.directionButton {
    height: 60px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(58, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    margin: 200px 1rem;
}

.directionButton:hover {
    background-color: rgb(190, 60, 60);
}