header {
    display: flex;
    color: white;
    background-color: rgb(58, 0, 0);
    flex-direction: row;
    gap: 100px;
    height: 86px;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}
img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(58, 0, 0);
}
.brand-logo{
    background-color: rgb(58, 0, 0);
}
.authentication{
    display: flex;
    justify-content: space-around;
    gap: 75px;
    background-color: rgb(58, 0, 0);
}

.navlinks {
  color: #e6e6e6;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(58, 0, 0);
}

nav :hover {
    background-color: rgb(190, 60, 60);
    border-radius: 5px;
}