* {
     background-color: rgb(145, 4, 4);
}

.title {
    text-align: center;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

article {
    height: 400px;
    width: 300px;
    background-color: black;
    color: white;
}
.image {
    display: flex;
    height: 200px;
    width: 100%;
    border: 1px solid blue;
    text-align: center;
    justify-content: center;
}
