.form-page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
}

.page-head {
    text-align: center;
}
.InputControl{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.SubmitButton{
  display: flex;
  width: 100%;
  height: 35px;
  font-size: x-large;
  color: white;
  justify-content: center;
  background-color: #dc143c;
  border: 1px solid black;
}
.SubmitButton:hover{
    background-color: #800020;
}
Label{
  margin: px;
  color: white;
}
Input{
  height: 35px;
  border-radius: 0px;
  padding-left: .25rem;
  width: 100%;
  margin: 10px 0;
  border: 1px solid rgba(255,255,255,.2);
  background-color: rgba(0,0,0,.25);
}

Form {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  color: white;
} 
select {
    background-color: black;
}
.tags-items {
    background-color: black;
}